* {
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

.container{
    /*color: #FEFCFD;*/
    
    max-width: 1200px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 40px;
    
}

 li::before {
    content: '';
    background-color: black;
    height: 1px;
    display: block;
  }

  li:hover{
    
	color: #ffffff;
    padding-left: 47px;
    background-color: #506AF3;
    transition:0.7s;
    before: none;

  }
  li:hover::before{
      opacity: 0;
  }

  